*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.DS_Store

python_modules

lib/.env.yaml

.vscode/*
!.vscode/extensions.json
!.vscode/settings.sample.json

.env

# for docs
!api/docs/separate.js
