DB_URL:
  local: mysql+aiomysql://as:os@lambda_fastapi_db:3306/local_db?charset=utf8mb4
  dev: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  test: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  prod: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4

# basic認証
BASIC_USER:
  default: user
  prod: u
BASIC_PASSWORD:
  default: pass
  prod: p

DEBUG:
  local: True
  default: False
